# **Trabajo Practico Módulo nro 2**

##Temas: Tipos de Datos simples. Variables. Entrada y Salida de datos por consola.

## Ejercicio Nro 1
Determinar el tipo de dato de las siguientes variables:

| | Variable | Valor | Tipo de dato | Tipo de dato en Python |
| --- | --- | ---| --- | --- |
1 | a | 5 | Entero | int
2 | edad | 25 | |
3 | monto | 29.9 | |
4 | mensaje | "Ingrese un número" | |
5 | contPositivos | 10
6 | respuesta | "sí" | cadena |
7 | letra | 2.5 | |
8 | N | 3 | |
9 | i | 's' | |
10| x | '@' | |
11| promedio | 7.5 | |
12| bandera | False | |
13| nombre | "cristian" | |
14| f | -8 | |
15| numero | True | |
16| vocal | 'a' | |
17| num | true | |

1.int
2.int
3.float
4.str
5.int
6.str
7.float
8.int
9.str
10.str
11.float
12.bool
13.str
14.int
15.bool
16.str
17.bool

In [ ]:
type (True)

bool

## Ejercicio Nro 2
Realizar un programa donde se declare 2 variables enteras, 2 reales, 2 del tipo cadena y 1 del tipo booleano. Mostrar por consola cada variable.

In [1]:
edad=36
dni=32434666
altura=1.69
peso=76.545
nombre="Maria"
apellido= "Costas"
vacunado= True
print(edad)
print(dni)
print(altura)
print(peso)
print(nombre)
print(apellido)
print(vacunado)

36
32434666
1.69
76.545
Maria
Costas
True

## Ejercicio Nro 3

Ingresar una frase por consola y mostrar por pantalla. Agregar el siguiente comentario al código ("Este es mi primer comentario").

In [ ]:
frase=input("ingresar una frase: ")
print(frase) #Este es mi primer comentario.

ingresar una frase: Hola Mundo!
Hola Mundo!

## Ejercicio Nro 4
Escribir un programa que pregunte el nombre del usuario y edad e imprima por pantalla el nombre y la edad.

In [2]:
Nombre=input("Nombre completo: ")
Edad=input("Años cumplidos: ")
print("Hola "+ Nombre )
print("tu edad es "+str(Edad))

Nombre completo: Maria Costas
Años cumplidos: 36
Hola Maria Costas
tu edad es 36

In [ ]:
Nombre=input("Nombre completo: ")
Edad=input("Años cumplidos: ")
print("Hola "+ Nombre )
print("tu edad es "+str(Edad))

Nombre completo: Maria Luisa Costas
Años cumplidos: 36 años
Hola Maria Luisa Costas
tu edad es 36 años

## Ejercicio Nro 5
Usando **f-string** mostrar las siguientes  frases:

*   “3 tristes tigres comen trigo en un trigal”
*   “El número pi es 3,14159265359” (mostrar con 4 dígitos)

Se deben usar las siguientes variables para armar la frases:

*   a = 3
*   frase = “trigo en un trigal”
*   pi =  3,14159265359

In [ ]:

    a=3
    frase="trigo en un trigal"
    pi=3.14159265359
    print(f"{a} tristes tigres comen {frase}.")

3 tristes tigres comen trigo en un trigal.

## Ejercicio Nro 6
Cambiar el tipo de las siguientes variables:

a = ‘5’ a entero

b = 10.52 a entero

c = ‘5.30’ a float

d = 10 a cadena de texto

e = 'True' a bool

y mostrar por pantalla. Usar la función definida en Python **type** para comprobar la conversión



```
type(<variable>) #te devuelve el tipo de la variable

a = 5
type(a) => Devolvera "<class 'int'>"
```

#### *En los proximos módulos explicaremos el concepto de función.*

In [ ]:
a = 5
b = 11
c = 5.3333
d = "diez"
e = False

type(e)

bool

## Ejercicio Nro 7

Probar la concatenación de texto con las siguientes variables (aplicar conversión cuando sea necesario):


a = 5; b = 10; c = “la suma de “; d = “ + ”;  e = “ es igual a 15”

resultado = “la suma de 5 + 10 es igual a 15”

Mostrar la variable resultado.

In [ ]:
a="5"
b="10"
c= "la suma de"
d= "+"
e= "es igual a 15"
# funcionó de ambas formas, poniendo espacios en la declaración de cada variable y/ poniendo espacios en la declaración de la variable resultado.
resultado = (c + " " + a + " " + d + " "+ b + " " + e)
print(resultado)

la suma de 5 + 10 es igual a 15

## Ejercicio Nro 8
Realizar un programa donde se ingrese el precio de compra, el nombre del cajero, la fecha. Luego debe mostrar el siguiente ticket por consola.

![image.png]()

In [ ]:
nombre=input("Ingrese su nombre: ")
precio= float(input("Ingrese el precio: "))
ffecha=input("Ingrese la fecha: ")
print("          SUPERMERCADO          ")
print("--------------------------------")

Ingrese su nombre: Mario Pepe
Ingrese el precio: 1000
Ingrese la fecha: 14/04/2022
          SUPERMERCADO
--------------------------------